# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/

# Node (frontend)
node_modules/
build/
.cache/

# Logs
*.log
*.out

# Environment variables
.env
*.env

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml

# PostgreSQL
*.sql~
